<html>

<head>
    <title>Nur Hasyim BTPN Test</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body style="font-family:'Courier New', Courier, monospace;">
    <div style="margin:20px">
        <div>
            BTPN - TEST
            <br>
            Microservice CRUD user with cache
            <br>
            M. Nur Hasyim
        </div>
        <hr>
        Usages:
        <br>
        <table class="table table-responsive table-striped" style="font-size:12px">
            <tr>
                <th>Function</th>
                <th>Method</th>
                <th>Endpoint</th>
                <th>Headers</th>
                <th>Sample Post Data</th>
                <th>Result</th>
            </tr>
            <tr>
                <td>Register</td>
                <td>POST</td>
                <td>https://nurhasyim.herokuapp.com/api/auth/register</td>
                <td>-</td>
                <td>{
                    "username": "testman",
                    "password": "test123",
                    "first_name": "first name",
                    "last_name": "last name",
                    "email": "test@test.com",
                    "birth_date": "1988-01-01T00:00:00.000Z",
                    "join_date": "2019-01-01T00:00:00.000Z"
                    }</td>
                <td>
                    {
                    "auth": true,
                    "token": "token"
                    }
                </td>
            </tr>
            <tr>
                <td>Login</td>
                <td>POST</td>
                <td>https://nurhasyim.herokuapp.com/api/auth/login</td>
                <td>-</td>
                <td>{
                    "username": "testman",
                    "password": "test123"
                    }</td>
                <td>
                    {
                    "auth": true,
                    "token": "token",
                    "user": {
                    "username": "testman",
                    "email": "test@test.com",
                    "first_name": "first name",
                    "last_name": "last name",
                    "join_date": "2019-01-01T00:00:00.000Z"
                    }
                    }
                </td>
            </tr>
            <tr>
                <td>Create an user</td>
                <td>POST</td>
                <td>https://nurhasyim.herokuapp.com/api/users/</td>
                <td>x-access-token:token</td>
                <td>{

                    "username": "testman2",
                    "password": "test123",
                    "first_name": "test man 2",
                    "last_name": "lastname",
                    "email": "test@test.com",
                    "birth_date": "1988-01-01T00:00:00.000Z",
                    "join_date": "2019-01-01T00:00:00.000Z"
                    }</td>
                <td>
                    {
                    "auth": true,
                    "token": "token"
                    }
                </td>
            </tr>
            <tr>
                <td>Get all users</td>
                <td>GET</td>
                <td>https://nurhasyim.herokuapp.com/api/users</td>
                <td>x-access-token:token</td>
                <td>-</td>
                <td>
                    [
                    {
                    "_id": "5c7f5831090e2f3ac0f56f15",
                    "username": "testman1",
                    "password": "$2a$08$MZz/5BNXaLh.J2wLNYKCLes2pTSKQejjXnsYOM6mJYhoDM0J6/Xo6",
                    "first_name": "Teguh1",
                    "last_name": "Yuono1",
                    "email": "test5@test.com",
                    "birth_date": "1988-01-01T00:00:00.000Z",
                    "join_date": "2019-01-01T00:00:00.000Z",
                    "created_time": "2019-03-06T05:18:41.664Z",
                    "last_modified_time": "2019-03-06T05:18:41.664Z",
                    "__v": 0
                    },
                    {
                    "_id": "5c7f5839090e2f3ac0f56f16",
                    "username": "testman4",
                    "password": "$2a$08$Hv/zZ46KQteUGsN48KMiVunk2NKxPDJsf6/oyJWnJ987x0YHtQY0O",
                    "first_name": "Teguh4",
                    "last_name": "Yuono7",
                    "email": "test5@test.com",
                    "birth_date": "1988-01-01T00:00:00.000Z",
                    "join_date": "2019-01-01T00:00:00.000Z",
                    "created_time": "2019-03-06T05:18:49.195Z",
                    "last_modified_time": "2019-03-06T05:19:23.037Z",
                    "__v": 0
                    }
                    ]
                </td>
            </tr>
            <tr>
                <td>Get single user</td>
                <td>GET</td>
                <td>https://nurhasyim.herokuapp.com/api/users/5c7f5831090e2f3ac0f56f15</td>
                <td>x-access-token:token</td>
                <td>-</td>
                <td>
                    {
                    "_id": "5c7f5831090e2f3ac0f56f15",
                    "username": "testman1",
                    "password": "$2a$08$MZz/5BNXaLh.J2wLNYKCLes2pTSKQejjXnsYOM6mJYhoDM0J6/Xo6",
                    "first_name": "Teguh1",
                    "last_name": "Yuono1",
                    "email": "test5@test.com",
                    "birth_date": "1988-01-01T00:00:00.000Z",
                    "join_date": "2019-01-01T00:00:00.000Z",
                    "created_time": "2019-03-06T05:18:41.664Z",
                    "last_modified_time": "2019-03-06T05:18:41.664Z",
                    "__v": 0
                    }
                </td>
            </tr>
            <tr>
                <td>Update single user</td>
                <td>POST</td>
                <td>https://nurhasyim.herokuapp.com/api/users/5c7f5831090e2f3ac0f56f15</td>
                <td>x-access-token:token</td>
                <td>{

                    "username": "testman4",
                    "password": "$2a$08$MZz/5BNXaLh.J2wLNYKCLes2pTSKQejjXnsYOM6mJYhoDM0J6/Xo6",
                    "first_name": "test man 4",
                    "last_name": "test man 4",
                    "email": "test5@test.com",
                    "birth_date": "1988-01-01T00:00:00.000Z",
                    "join_date": "2019-01-01T00:00:00.000Z"
                    }</td>
                <td>
                    {
                    "_id": "5c7f5831090e2f3ac0f56f15",
                    "username": "testman4",
                    "password": "$2a$08$MZz/5BNXaLh.J2wLNYKCLes2pTSKQejjXnsYOM6mJYhoDM0J6/Xo6",
                    "first_name": "test man 4",
                    "last_name": "test man 4",
                    "email": "test5@test.com",
                    "birth_date": "1988-01-01T00:00:00.000Z",
                    "join_date": "2019-01-01T00:00:00.000Z",
                    "created_time": "2019-03-06T05:18:41.664Z",
                    "last_modified_time": "2019-03-06T05:18:41.664Z",
                    "__v": 0
                    }
                </td>
            </tr>
            <tr>
                <td>Delete single user</td>
                <td>DELETE</td>
                <td>https://nurhasyim.herokuapp.com/api/users/5c7f5831090e2f3ac0f56f15</td>
                <td>x-access-token:token</td>
                <td>-</td>
                <td>
                    {
                    "n": 1,
                    "ok": 1,
                    "deletedCount": 1
                    }
                </td>
            </tr>
        </table>
    </div>


</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</html>